---
interface Props {
	href: string;
}

const { href } = Astro.props;
---

<a href={href} class="link"><slot /></a>

<style>
	a {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--black-0);
		text-decoration: none;
		line-height: 1;
		gap: 1rem;
		padding: 1rem 1.5rem;
		overflow: hidden;
		white-space: nowrap;
		border:  none;
		border-radius: 50px;
		max-width: 220px;
		outline: 2px solid;
		margin: 1em 0;
	}

	@media (min-width: 20em) {
		a {
			font-size: var(--text-md);
		}
	}


	a:focus,
	a:hover {
		background-color: var(--black-0);
		border: none;
		color: var(--gray-999);
	}

	@media (min-width: 50em) {
		a {
			padding: 1rem 2rem;
			font-size: var(--text-md);
			font-weight: 600;
			max-width: 230px;
		}
	}
</style>
