---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<footer class="flex justify-between items-center">
<aside>
	<h2 class="mb-1 footer-title">project in mind?</h2>
	<p class="text-lg font-normal">you can contact me for freelance opportunities  - or just to chat!</p>
	<CallToAction href="mailto:amangouakacouange@gmail.com">
		get in touch
	</CallToAction>
</aside>
<div>
<p class="copyright">Designed with love by <a href="https://www.linkedin.com/in/angethierry/" target="_blank">Amangoua Ange </a></p>
</div>
</footer>

<style>
	aside {
		display: block;
	}

	footer{
		box-shadow: var(--shadow-sm);
		padding: 1.5rem;
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		footer {
			padding: 3.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}

		.copyright{
			font-weight: 500;
		}

		.footer-title{
			font-weight: 700;
		}
	}
</style>
