---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<footer class="flex justify-between items-center">
	<aside>
	<h2 class="mb-5">project in mind?</h2>
	<CallToAction href="mailto:me@example.com">
		get in touch
	</CallToAction>
</aside>
<div>
<p class="copyright">Designed with love by <a href="#">Amangoua Ange </a></p>
</div>
</footer>

<style>
	aside {
		display: block;
	}

	footer{
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
		padding: 5rem 1.5rem;
	}

	h2 {
		font-size: var(--text-xl);
		text-align: center;
		max-width: 15ch;
	}

	@media (min-width: 50em) {
		footer {
			padding: 7.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
			text-align: left;
		}

		.copyright{
			font-weight: 500;

		}
	}
</style>
