---
import CallToAction from './CallToAction.astro';
import Icon from './Icon.astro';
---

<footer class="flex gap-10 md:gap-0 items-center flex-col md:flex-row justify-center md:justify-start">
<aside class="flex flex-col gap-4 md:gap-2 md:justify-start text-center justify-center items-center md:items-start">
	<h2 class="mb-1 footer-title">project in mind?</h2>
	<p class="text-lg font-normal">you can contact me for freelance opportunities  - or just to chat!</p>
	<CallToAction href="mailto:amangouakacouange@gmail.com">
		get in touch
	</CallToAction>
</aside>
<div>
<p class="copyright">Designed with love by <a href="https://www.linkedin.com/in/angethierry/" target="_blank">Amangoua Ange </a></p>
</div>
</footer>

<style>
	footer{
		padding: 1.5rem;
	}

	h2 {
		font-size: var(--text-xl);
	}

	@media (min-width: 50em) {
		footer {
			padding: 3.5rem;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		h2 {
			font-size: var(--text-3xl);
		}

		.copyright{
			font-weight: 500;
		}

		.footer-title{
			font-weight: 700;
		}
	}
</style>
