---
import { Image } from "astro:assets";
    const frontend = '</frontend>'
import stars from '../../public/assets/stars.svg'
---
<div class="mt-10 freelance">
    <div class="flex gap-3 justify-center items-center">
        <span class="border transition delay-150 duration-700 ease-in-out px-3 lg:px-10 flex items-center hover:focus-visible: justify-center rounded-full hover:rounded-md hover:duration-700">freelance</span>
    <span class="flex stars gap-2 group">
        <Image src={stars} alt="stars" class='group-hover:animate-spin group-hover:italic' />
        ui/ux designer 
        <Image src={stars} alt="stars" class='group-hover:animate-spin'/>
    
    </span>

    </div>
    <div>
        and <span class="hover:line-through w-7/12 font-black"> {frontend}</span> developer
    </div>
</div>


<style>
.freelance{
    font-size: var(--text-md);
    font-weight:500;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 50em) {
		.freelance {
			font-size: var(--text-2xl);
		}

        .border{
            animation: all ease-in-out 100ms;
        }
    }
</style>