---
interface Props {
	title: string;
	tagline?: string;
	align?: 'start' | 'center';
}

const { align = 'center', tagline, title } = Astro.props;
import { Image } from 'astro:assets';
import wave from '../../public/assets/wave.svg'
---

<div>
	<h2>Hello ANge</h2>
	
</div>

<style>
	.hero {
		font-size: var(--text-base);
		text-align: center;
		width: 100%;
		border: 10px solid red;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-base);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-base);
		}

		.center {
			text-align: center;
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-xl);
		}
	}
</style>


<script>

let cursor = document.querySelector('.cursor')
let OuterCursor = document.querySelector('.outer')
document.addEventListener('mousemove', mouseMove)

function mouseMove(event){
let x = event.clientX
let y = event.clientY

cursor.style.left= `${x}px`
cursor.style.top= `${y}px`

OuterCursor.style.left= `${x}px`
OuterCursor.style.top= `${y}px`
}

let links = Array.from(document.querySelectorAll('a'))
links.forEach( link => {
	link.addEventListener('mouseover', ()=>{
		cursor.classList.add('grow')
	})

	link.addEventListener('mouseleave', ()=>{
		cursor.classList.remove('grow')
	})
})

</script>

