---
interface Props {
	title: string;
	tagline?: string;
	name: string
}

const {name, tagline, title } = Astro.props;
import { Image } from 'astro:assets';
import wave from '../../public/assets/wave.svg'
import Freelance from './Freelance.astro';
---

<div class="w-11/12 flex justify-center items-center flex-col">
	<h5 class="greetings"> {title}, <span class="hover:rotate-45"><Image class='invert'  src={wave} alt='wave'/> </span> {tagline}</h5>
	<h1 class="title">{name} </h1>
	<Freelance />
</div>

<style>
	.hero {
		text-align: center;
		width: 100%;
	}

	.greetings{
		display: flex;
		align-items: center;
		font-weight: 600;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.title {
		font-size: var(--text-5xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
			font-size: var(--text-2xl);
		}

		.start .title,
		.start .tagline {
			margin-inline: unset;
		}

		.title {
			font-size: var(--text-3xl);
			font-weight: 700;
		}
	
	}

	@media (min-width: 50em) {
		.title {
			font-size: var(--text-6xl);
			font-weight: 700;
		}
	}
</style>



