---
interface Props {
	title: string;
	tagline?: string;
	name: string,
	visible : 'visible' | null
}

const {name, tagline, title } = Astro.props;
import { Image } from 'astro:assets';
import wave from '../../public/assets/wave.svg'
import Freelance from './Freelance.astro';
---

<div class="w-full flex justify-center items-center flex-col heading" id="contain">
	<h5 class="greetings"> {title}, <span class="hover:rotate-45"><Image class='invert'  src={wave} alt='wave'/> </span> {tagline}</h5>
	<h1 class="headingName">{name} </h1>
	<Freelance />
</div>

<style>
	.hero {
		text-align: center;
		width: 100%;
	}

	div.word{
		font-style: italic !important;
		text-decoration: underline;
		}

	.greetings{
		display: flex;
		align-items: center;
		font-weight: 500;
	}

	.title,
	.tagline {
		max-width: 37ch;
		margin-inline: auto;
	}

	.headingName {
		font-size: var(--text-3xl);
		color: var(--gray-0);
	}

	@media (min-width: 50em) {
		.hero {
		font-size: var(--text-2xl);
		}

		.char h1{
		clip-path:(0 0, 100% 0, 100% 100% , 0% 100%) ;
		line-height: 5rem;
		}
		.char{
		transform:  translateY(115px);
		transition:  transform .5s;
	}
		.start .title,
		.start .tagline {
		margin-inline: unset;
		}

		.headingName {
		font-size: var(--text-6xl);
		font-weight: 700;
		}
	
	}

	@media (min-width: 40em){
		.headingName {
		font-size: var(--text-6xl);
		font-weight: 600;
		}
	}

</style>

<script>

const text = new SplitType('.headingName', { types: 'words, chars' })

let char = Array.from(document.querySelectorAll('.headingName .char'))
char.forEach( char => {
	char.addEventListener('mouseover', ()=>{
		char.classList.add('bounce')
	})
})

gsap.timeline({defaults:{ ease : 'back', opacity: 0, duration: 0.4}}).from('#contain',{ease:'linear'}).from('.greetings', {y: 100 }).from('.headingName', { y:100}).from('.first', {y:100}).from('.second',{y:100})
</script>

