---
import Icon from './Icon.astro';
---

<section class="skills">
	<div class="box stack gap-2 lg:gap-4 relative">
		<Icon icon="pencil-line" color="var(--accent-regular)" size="2rem" gradient />
		<h5>UI Design</h5>
		<p>I create innovative designs for a wide range of digital platforms, including apps, websites, and other digital products in Figma.</p>
	</div>
	<div class="box stack gap-2 lg:gap-4">
		<Icon icon="code" color="var(--accent-regular)" size="2rem" gradient />
		<h5>Frontend</h5>
		<p>With my background as a graphic designer, I can create logos, printed matters and enhance branding elements..</p>
	</div>
	<div class="box stack gap-2 lg:gap-4">
		<Icon icon="strategy" color="var(--accent-regular)" size="2rem" gradient />
		<h5>Framer Motion</h5>
		<p>I craft websites using GSAP or Framer Motion and transfer full ownership to your organization upon completion..</p>
	</div>
</section>

<style>
	.box {
		border: 2px solid var(--gray-800);
		border-radius: 0.75rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.skills h2 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 2rem;
		}

		.skills h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
